<h1>NEW Search for a Politician</h1>

<%= flash[:error] %>
<%= form_tag("/search/new", method: "get") do %>
  <%= label_tag(:user_zip_code, "Zip Code") %>
  <%= text_field_tag(:user_zip_code) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @search_results.empty? %>
	<%= @message_no_search_results %> 
<% else %>
	<% @search_results.each do |this_result| %>
	<%= this_result.first_name %>, BIOGUIDE ID: <%= this_result.bioguide_id %> | 
	<%= link_to "Show", politician_show_path(bioguide_id: this_result.bioguide_id)  %>
		<% if user_signed_in? %>
			| <%= link_to "Add to Stash", favorites_create_path(bioguide_id: this_result.bioguide_id) %>
		<% end %>
		<br />
  <% end %>
<% end %>

<h3>Recent Searches</h3>
<% @recent_searches.each do |a_previous_search| %>
  <%= link_to "#{a_previous_search.parameters.to_s}", new_search_path(a_previous_search.parameters)  %><br />
<% end %>