<h1>NEW Search for a Politician</h1>

<%= @api_error %>

<%= flash[:error] %>
<%= form_tag("/search/new", method: "get") do %>
  <%= label_tag(:user_zip_code, "Location") %>
  <%= text_field_tag(:user_zip_code) %>
  <%= submit_tag("Search") %>
<% end %>
<hr />
<%= @api_call_result %>
<hr />
<%= @congressman %>
