<h1>Politician#show</h1>

<br />name | <%= "#{@this_politician.first_name} #{@this_politician.middle_name} #{@this_politician.last_name} #{@this_politician.name_suffix}" %>
<br />title | <%= @this_politician.title %>
<br />chamber | <%= @this_politician.chamber %>
<br />party | <%= @this_politician.party %>
<br />state | <%= @this_politician.state %>
<br />state_name | <%= @this_politician.state_name %>
<br />district | <%= @this_politician.district %>
<br />in_office | <%= @this_politician.in_office %>
<br />gender | <%= @this_politician.gender %>
<br />birthdate | <%= @this_politician.birthdate %>
<br />term_start | <%= @this_politician.term_start %>
<br />term_end | <%= @this_politician.term_end %>
<br />senate_class | <%= @this_politician.senate_class %>
<br />bioguide_id | <%= @this_politician.bioguide_id %>
<br />thomas_id | <%= @this_politician.thomas_id %>
<br />lis_id | <%= @this_politician.lis_id %>
<br />votesmart_id | <%= @this_politician.votesmart_id %>
<br />fec_ids | <%= @this_politician.fec_ids %>
<br />govtrack_id | <%= @this_politician.govtrack_id %>
<br />crp_id | <%= @this_politician.crp_id %>
