<!DOCTYPE html>
<html>
<head>
	<title>MccluresApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "McClures", root_path, class: 'navbar-brand' %>
				<button type="button" class="navbar-toggle"
					data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<ul class="nav navbar-nav navbar-right navbar-collapse">
				<li><%= link_to 'New Search', new_search_path  %></li>
				<% if user_signed_in? %>
				<li><%= link_to 'My Stash', favorites_index_path  %></li>
				<li><%= link_to "Sign Out #{current_user.email}", destroy_user_session_path, method: 'delete' %></li>
				<% else %>
				<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="container">

		<%= yield %>
	</div>
</body>
</html>
