<!DOCTYPE html>
<html>
<head>
	<title>MccluresApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= user_signed_in? %>
	<%= current_user %>

	<%= yield %>

</body>
</html>
